body{
    background-color:#efefef;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px 0px;
    background-color:#fff;
    margin:20px 0px;
}

.header-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    justify-content: space-between;
    align-items:center
}
.header-link a{
    position: relative;
    margin-top:-20px;
    z-index:20;
}

.header-link a i{
    font-size:14px;
    padding:14px;
    border-radius:50%;
    background-color:#efe8e0;
    z-index:10;
}
.header-link::before{
    content: '';
    position: relative;
    /* padding: 5px; */
   /* border: 2px solid #555;*/
    width: 100%;
    z-index: 1;
    border: 2px solid #efe8d0;
    margin-top: 20px;
}


.header-link:first-child::before{
    width: 100%;
    left:50%;
}
.header-link:last-child::before{
    width: 50%;
    right:25%;
}
.header-link i{
    transition:all 0.5s ease-in;
}
.header-link::before{
    transition:border 0.5s ease-in;
}
.header-link:hover::before{
    border:2px solid #000;
}
.header-link:hover i{
    background-color:#000;
}
@media (max-width:768px){
    .header-link span{
        font-size:12px;
    }
}